services:
  surge:
    image: ghcr.io/cheminfo/surge:latest
    ports:
      - 127.0.0.1:31228:31228
    ulimits:
      core: 0 # We don't want core dump, we never analyse them anyway
      nofile: 65536 # Max number of files that can be open
      nproc: 10240 # Mas number of processes
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    read_only: true
    tmpfs:
      - /tmp:rw,noexec,nosuid,size=100m
      - /node/tmp:rw,noexec,nosuid,size=50m
    logging:
      driver: 'json-file'
      options:
        max-size: '50m'
    networks:
      - traefik
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.surge.rule=Host(`surge.cheminfo.org`)'
      - 'traefik.http.routers.surge.entrypoints=websecure'
      - 'traefik.http.routers.surge.tls.certresolver=letsencrypt'

networks:
  traefik:
    external: true
