version: '2.2'
services:
  surge:
    image: ghcr.io/cheminfo/surge:latest
    restart: unless-stopped
    ulimits:
      core: 0
    logging:
      driver: 'json-file'
      options:
        max-size: '50m'
    networks:
      - traefik
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.surge.rule=Host(`surge.cheminfo.org`)'
      - 'traefik.http.routers.surge.entrypoints=websecure'
      - 'traefik.http.routers.surge.tls.certresolver=letsencrypt'

networks:
  traefik:
    external: true
